<div class="dashboard-container">
  <h2>Panel Czytelnika</h2>

  <!-- Pasek zakładek (lista zakładek) -->
  <div class="tabs-list" role="tablist">
    <button
      role="tab"
      [class.active]="activeTab === 'catalog'"
      (click)="switchTab('catalog')">
      Katalog Książek
    </button>

    <button
      role="tab"
      [class.active]="activeTab === 'loans'"
      (click)="switchTab('loans')">
      Moje Wypożyczenia
    </button>

    <button
      role="tab"
      [class.active]="activeTab === 'fines'"
      (click)="switchTab('fines')">
      Kary
    </button>
  </div>

  <div class="tab-panels">
    @if (activeTab === 'catalog') {
      <div role="tabpanel" class="tab-panel">
        1
      </div>
    }

    @if (activeTab === 'loans') {
      <div role="tabpanel" class="tab-panel">
       <app-my-loans></app-my-loans>
      </div>
    }

    @if (activeTab === 'fines') {
      <div role="tabpanel" class="tab-panel">
       3
      </div>
    }
  </div>
</div>
