<!--<header class="app-header">-->
<!--&lt;!&ndash;  <nav>&ndash;&gt;-->
<!--&lt;!&ndash;    &lt;!&ndash; Link do profilu widoczny zawsze — dokładnie ta sama logika co /users/me po stronie backendu:&ndash;&gt;-->
<!--&lt;!&ndash;         nie zależy od roli, bo każdy zalogowany ma swój profil. &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <a routerLink="/profile" routerLinkActive="active">Profil</a>&ndash;&gt;-->
<!--&lt;!&ndash;  </nav>&ndash;&gt;-->

<!--&lt;!&ndash;  <div class="user-info">&ndash;&gt;-->
<!--&lt;!&ndash;    <span>{{ authService.user()?.firstName }} ({{ authService.user()?.role }})</span>&ndash;&gt;-->
<!--&lt;!&ndash;    <button (click)="logout()">Wyloguj</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</header>-->

<main>
  <!-- Tu renderuje się aktywna trasa-dziecko: CatalogComponent, ManageBooksComponent itd.,
       w zależności od tego, gdzie user aktualnie jest w routingu. -->
  <router-outlet></router-outlet>
</main>
